    .error-class_Sportzchain_1648480510 {
                        color: #a94442;
                    }

                    .required-field_Sportzchain_1648480510 {
                        color: #a94442;
                    }

                    .label-class_Sportzchain_1648480510 {
                        color: #000000 ;
                    }